.theme-back-color {
    background: rgba(14, 14, 14, .9);
}

.container table {
    border-collapse: collapse;
}

.container table td {
    border: 1px solid #0c0c0c;
    width: 10px;
    height: 25px;
    text-align: center
}

.container table th {
    text-align: center
}

@media screen {
    a:active, a:link, a:visited {
        color: #778087;
        text-decoration: none;
        word-break: break-all;
    }

    a:hover {
        color: #4d5256;
        text-decoration: underline;
    }

    a.top:link, a.top:visited {
        color: #556;
        text-decoration: none;
    }

    a.top:hover {
        color: #99a;
        text-decoration: none;
    }

    a.top:active {
        color: #001;
        text-decoration: none;
    }

    #logo {
        width: 94px;
        height: 30px;
        background-image: url(../lib/plugins/assets/images/common/laf-small-logo.png);
        background-size: 94px 30px;
        background-repeat: no-repeat;
        display: inline-block;
    }

    #topNar {
        text-align: center;
        background-color: #fff;
        height: 44px;
        font-size: 15px;
        font-weight: 500;
        background-size: 44px 44px;
        border-bottom: 1px solid rgba(0, 0, 0, .22);
        padding: 0 20px 0 20px;
    }

    .content {
        min-width: 600px;
        max-width: 1100px;
        margin: 0 auto 0 auto;
    }

    #topNar > .content {
        max-width: 1060px;
    }

    ::-webkit-input-placeholder {
        color: silver;
    }

    :-moz-placeholder {
        color: silver;
    }

    ::-moz-placeholder {
        color: silver;
    }

    :-ms-input-placeholder {
        color: silver;
    }
}

@media screen {
    a:active, a:link, a:visited {
        color: #778087;
        text-decoration: none;
        word-break: break-all;
    }

    a:hover {
        color: #4d5256;
        text-decoration: underline;
    }

    a.dark:active, a.dark:link, a.dark:visited {
        color: gray;
        text-decoration: none;
    }

    a.dark:hover {
        color: #385f8a;
        text-decoration: none;
    }

    #Bottom {
        border-top: 1px solid rgba(0, 0, 0, .22);
        background-color: #fff;
        text-align: center;
        color: #999;
        padding: 0 10px 0 10px;
    }

    .snow {
        color: #e2e2e2;
    }

    .content {
        min-width: 600px;
        max-width: 1100px;
        margin: 0 auto 0 auto;
    }

    .inner {
        padding: 10px;
        font-size: 14px;
        line-height: 150%;
        text-align: left;
    }

    .sep20 {
        height: 20px;
    }

    .sep10 {
        height: 10px;
    }

    .sep5 {
        height: 5px;
    }

    ::-webkit-input-placeholder {
        color: silver;
    }

    :-moz-placeholder {
        color: silver;
    }

    ::-moz-placeholder {
        color: silver;
    }

    :-ms-input-placeholder {
        color: silver;
    }
}

.flex-box-div {
    display: block;
    padding: 20px;
    border: solid 2px #CCC;
    text-align: center;
}

/*Generated Css*/
.flex-box-div > div {
    /*width: 50px;*/
    /*height: 50px;*/
    /*padding: 10px;*/
    background: #037CD5;
    /*margin: 5px;*/
    color: #FFF;
    text-shadow: 0 0 0 rgba(000, 000, 000, .5);
}

.flex-box-div {
    min-height: 100px;
    max-height: 100px;
    /*min-width: 100px;max-width: 100px;*/
}

.flex-box-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
}
